.nav-item{
text-decoration: none!important;
color:#f8f7f7;
}
.nav-item:hover{
    
    padding: 8px;
    color: #228B22;
    /* background: #000000; */
}
.current{
    /* color:green;
    padding: 8px;
 
    background: #000000; */
    /* border-bottom: 4px solid rgb(247, 244, 244); */
    color: orange;
}
a.top-number{
    margin-left: 5%;
    color:rgb(255, 255, 255);
    font-size: 17px!important;
}
.top-number:hover{
    color: rgb(247, 243, 243) !important;
}
/* .logo-size{
    width: 250px;
    height:50px; 
} */
.logo-brand{
    font-size: 29px!important;
    font-weight: 600;
   
}
@media screen and (max-width:767px){
    .nav-item {
        color: #ffffff;
    }
    .logo{
        width: 100%!important;
    }
    .top-number{
        display:none;
    }
    
    
   
}


.nav-btn{

border-radius:4px;
background: #228B22;
padding: 8px  18px;
color:#ffffff;
cursor:pointer;
border: none;
transition: all 0.2s ease-in-out;
text-decoration: none!important;

}
.nav-btn:hover{
    transition: all 0.2s ease-in-out;
    background:  #1a1a1a;
    color:#ffffff;
    border: 2px solid blue;
     
}
.top-van-link{
    text-decoration: none;
    display: flex;
    padding: 18px;
    font-size: 18px;
    margin-right: -20px;
    color: #1a1a1a;
    
}
@media screen and (max-width:767px){

    .top-van-link{
        color:#ffffff;
        display: flex;
        justify-content:flex-start;
        
    }

}


.nibora-end{
    color:orange;
    font-family: 'Kaushan Script', cursive!important;
}
.nibora-stat{
    color:#fff2df;
    font-family: 'Kaushan Script', cursive!important;

}
.logo-size{
    height:200px;
}
/* .navbar-brand{
    background-color:black;
} */