.alert{
    top:20rem;
    margin-top: 60px;
    width:100%;
    height: auto;
    opacity: 90%;
    z-index: 90;
    
}
.alert--success{
    background-color: #228b22;
}
.alert--error{
    background-color: #dc2535;
   
}