@import url(./components/_notfound.css);
@import url(./components/_navigation.css);
@import url(./components/alert.css);
@import url(./components/login.css);
@import url(./components/home.css);
@import url(./components/listingsform.css);
@import url(./components/footer.css);
@import url(./components/pagination.css);
@import url(./components/card.css);
@import url(./components/service.css);
@import url(./components/about.css);


@import "https://fonts.googleapis.com/css?family=Sora&display=swap";
*{
    font-family: 'sora', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0; 

}
