@import url(./components/_notfound.css);
@import url(./components/_navigation.css);
@import url(./components/alert.css);
@import url(./components/login.css);
@import url(./components/home.css);

@import "https://fonts.googleapis.com/css?family=Sora&display=swap";
*{
    font-family: 'sora', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding: 0; 

}
