/* colors */
.color_primary{
    color: #328da8;
} 
.color_secondary{
    color: #47acad;
} 
.color_tertiary{
    color: #2fa18a;
} 
.color_quatenery{
    color: #078a2a;
} 
.color_black{
    color: #081316;
} 
.color_link_hover{
    color: #ccc;
} 
.color_hover{
    color: #8b989c;
} 
.color_paragraph{
    color: #4a4a4a;
}
.color_white{
    color: #ffffff;
}
.color_dark_blue{
    color: #080a4d;
}  




/* grid */
