.nav-item{
text-decoration: none;
color:#010101;
}
.nav-item:hover{
    border-bottom:2px solid
}
.nav-item:active{
    color:green;
}
@media screen and (max-width:767px){
    .nav-item{
        color: #ffffff;
    }
}


.nav-btn{

    border-radius:4px;
background: green;
padding: 8px  18px;
color:#ffffff;
cursor:pointer;
border: none;
transition: all 0.2s ease-in-out;
text-decoration: none;

}
.nav-btn:hover{
    transition: all 0.2s ease-in-out;
    background:  #1a1a1a;
    color:#ffffff;
    border: 2px solid blue;
     
}
