footer{
    background-color: #111;
    position: absolute;
 
    
}
.about-footer{
    padding: auto;
    color: #ffffff;
}
.about-text{
    color:#ffffff!important;
}
.address-footer{
    color: #ffffff;
}
.height{
    padding-top:2rem;
}
a.social-links{
    text-decoration: none!important;
    color: #ffffff!important;
}
.social a{
   padding: 1.5em;
}
.social-address{
    color: #ffffff!important;
}
@media screen and (max-width:768){
    footer{
        position: absolute;
    }
}