.title-header{
    background-color:rgb(62, 94, 62)!important;
    color:aliceblue;
}
.breadcrumb-item{
    font-weight: 900!important;
}
.listingdetail-realtor{
    font-weight: 900;
    font-size: 30px;
    color:rgb(62, 94, 62);
}
.listingdetail-list{
    list-style-type: none;
}
.listingdetail-list-item{
    line-height:30px;
    font-size: 18px;
    font-weight: 550;
    color:#228B22;
}
.listing-details{
    padding-top: 2rem;
}
.listing-description-detail{
    background-color: #f9faf5;
    border: 1px none;
    border-radius: 4px;

}
.listingdetail-description{
    padding:10px;
    line-height: 30px;
    font-size: 18px;
}
.realtor-pc{
    display: none;
}
.contact-realtor{
    
    display: none!important;
   
}
.back{
    cursor: pointer;
    color: rgb(31, 163, 199)!important;
    font-weight: 700;
}

@media screen and (max-width:768px){
    .realtor-mobile{
        display: none;
    }
    .realtor-pc{
        display:block
    }
    .contact-realtor{
        display: flex!important;
        position: fixed;
        bottom: 0;
        z-index: 9;
        background-color: red;
        

    }
  
    .button-design{
        padding: 10px;
    }
   
}
.listing-detail-image{
    border-radius: 4px!important;
}
.max-height{
    border-radius: 4px;
}


.list-detail-top-img {
    height: 100%;
    position: relative;
    padding: 0!important;
    color: white;
   
    
  }
  
  /* Bottom left text */
  .details-unparallel {
    /* position: absolute;
    bottom: 10rem;
    left: 16px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:rgba(0, 0, 0, 0.7);
    border: 1px solid;
    padding:2rem;
    background-color:rgba(0, 0, 0, 0.7);
  }
  p.sale-sale{
      font-weight: bolder;
      color: #f9faf5;
      font-weight:larger;
      border:1px solid blue;
      background-color:rgba(0, 0, 0, 0.7);
  }
  .sale-now{
      border: 1.5px solid rgb(177, 103, 6);
      padding: 0.5em;
  }
  .sale-title{
    border: 1.5px solid rgb(177, 103, 6);
    padding: 0.5em; 
    background-color:rgba(0, 0, 0, 0.7);
  }
  h3.sale-title{
      background-color:rgba(0, 0, 0, 0.7);
  }
  p.sale-address{
      color:rgb(250, 250, 250);
  }
  p.sale-price{
      font-size: 18px;
      font-weight: bolder;
      color: #f8f6f6;
  }
  /* Top left text */
  .top-left-details {
    position: absolute;
    top:0;  
    background-color:rgba(0, 0, 0, 0.7);
    height:fit-content;
    width: 100%;
    border:1px solid;
    float: left!important;
  }

  .listingdetail-name{
      padding-left: 10px;
      font-size: 20px!important;
  }
  .listingsdetail-phone{
      padding-left: 10px;
      font-size: 16px!important;
      color: #f8f6f6!important;
  }
  .other details{
    background-color:rgba(0, 0, 0, 0.7);  
    border: 1.5px solid rgb(177, 103, 6);
  }
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 20rem;
    right: 16px;
  }
  
  /* Centered text */

  @media (max-width:572px){
      .bottom-right{
          clear: both;
                }
      /* .details-unparallel{
          bottom: 20px;
      } */
  }
  @media (max-width:442px){
      .bottom-right{
          display: none;
      } 
  }
  p.listing-detail-desc{
      
      height:fit-content;
      padding: 1.2em;
      background-color:rgba(75, 164, 168, 0.2);
      color:rgb(2, 2, 2);
      line-height: 30px;
      font-size: 20px!important;
  }
@media screen and (max-width:768px){
  img.img-toppings{
      width: 100%;
      height: 400px;

  }
  /* .details-unparallel {
      left:20%;
  } */
} 
.title-list-detail{
align-items: center;
}
.horizontal-list-detail{
    width: 100%;
    color: #ffffff;
    text-align: center;
    height: 3px;
    background-color: #ffffff;
    border-radius: 10px;
    
}
.featured_display{
    list-style-type:none;
    padding-left:2em;

}
.featured_display li{
    padding-top:1.5em ;
    font-size: 18px;
}
.features{
    background-color: rgb(219, 214, 214, 0.1);
}
.realtor-photo{
    height:150px;
    border-radius: 250px;
}
img.img-toppings{
    width: 100%!important;
}