.pagination-number{
    display: inline-block;
    font-size: 1.4rem;
    color:rgb(14, 27, 95);
    padding:0.5rem;
    cursor:pointer;
    margin:0.1rem;
    user-select: none;

}
.pagination-number-active{
    color: #0f6809;
    
}
.pagination-number:hover{
   
    background-color: rgb(196, 187, 187);

}